site_name: ORM-IRIS Library Documentation
theme:
  name: material

plugins:
  - search
  - mkdocstrings
  - gen-files:
      scripts:
        - generate_doc_ref_pages.py  # Custom script to generate reference pages
  - literate-nav:
      nav_file: SUMMARY.md

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - API Reference: reference/

extra_css:
  - stylesheets/extra.css